@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&&family=Playball&display=swap');

html {
    font-family: "Roboto";
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playball";
}

body{
    background-color: #ffff80;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn_small {
    height: 25px;
    width: 70px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
.card-image {
    width: 100%
}

.container .row .col img {
    width: 100%;
}


/* home page */

.carousel {
    height: 500px;
    margin-top: -50px;
}


hr {
    margin: 50px 0;
}
#about .card {
    padding: 10px 20px 20px 20px;
    margin-bottom: 2rem;
}

#about h1 {
    margin-top: 18px;
}
#go_up{
    margin-top: -90px;
    color: orange;
}

/* recipe cards */
/* front side */

#recipes .card,
#recipe .card {
    margin: 5px;
}

.card .card-title {
    font-size: 17px;
}

.card .card-content .card-title {
    height: 130px;
}

/* back side */

.card .card-reveal .card-title {
    height: 100px;
}

.card .card-reveal .card-middle{
    padding-top: 10px;
}

.open {
    height: 25px;
    width: 130px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.card .card-reveal .card-end p {
    height: 90px;
    margin-top: 0;
}

.card .card-reveal .row{
    margin-bottom: 10px;
}

/* recipe  */

 #ingredient,
#methods {
    white-space: pre-wrap; 
} 

img .card-img {
    width: 80%;
    margin-left: 25px;
}

.top-left {
    padding-left: 35px;
    font-size: 23px;
}
.top-right {
    margin-top: 60px;
}

.middle-left,
.bottom {
    padding-left: 20px;
}

.middle-right {
    padding-right: 20px;
}

/* profile */

#welcome::first-letter{
    text-transform: capitalize;
}

/* footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
/* media query */

@media only screen and (max-width: 992px) {
    nav .brand-logo {
    font-size: 1.9rem;
    }

    h1 {
        font-size: 35px;
    }

    .carousel {
        height: 400px;
        margin-top: -60px;

    }
}

@media only screen and (min-width: 601px){
    .row .col.m3 {
        width: 31%;
    }

}
