@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playball&display=swap');

html {
    font-family: "Libre+Baskerville";
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playball";
}

body{
    background-color: #ffff80;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn_small {
    height: 25px;
    width: 70px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.container .row .col img {
    width: 100%;
}

#go_up{
    margin-top: -120px;
    color: orange;
}

#intro h5 {
    padding-bottom: 50px;
}

.open {
    height: 25px;
    width: 130px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
