{% extends 'base.html' %} {% block content %}
<h1 class="center-align">Add Recipe</h1>

<div class="container">
    <div class="row card-panel">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">

        <div class="row">
        <div class="input-field col s12">
            <input id="recipe_name" name="recipe_name" type="text" class="validate" required />
            <label for="icon_prefix">Recipe Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <textarea id="recipe_description" name="recipe_description" class="validate materialize-textarea" cols="30" rows="10" required></textarea>
            <label for="icon_prefix">Recipe Description</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="cookbook_name" name="cookbook_name" type="text" class="validate" required />
            <label for="icon_prefix">Cookbook Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="recipe_image" name="recipe_image" type="text" class="validate" required />
            <label for="icon_prefix">Recipe Image</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <select id="category_name" name="category_name">
            <option value="" disabled selected>Choose Category</option>
            {% for cat in categories %}
            <option value="{{cat.category_name}}" required>{{cat.category_name}}</option>
            {% endfor %}
            </select>
            <label>Category Name</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s12">
            <select id="difficulty" name="difficulty">
            <option value="" disabled selected>Choose Difficulty</option>
            {% for diff in difficulty %}
            <option value="{{ diff.difficulty }}" required>{{ diff.difficulty }}</option>
            {% endfor %}
            </select>
            <label>Difficulty Level</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="prep_time" name="prep_time" type="text" class="validate" />
            <label for="icon_prefix">Prep Time in minutes</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="cook_time" name="cook_time" type="text" class="validate" required />
            <label for="icon_prefix">Cooking Time in minutes</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="total_time" name="total_time" type="text" class="validate" required />
            <label for="icon_prefix">Total Time in minutes</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="serves" name="serves" type="text" class="validate" required />
            <label for="icon_prefix">Serves</label>
        </div>
        </div>
        <div class="row">
        <div class="input_field_wrap col s12">
            <label for="icon_prefix">Ingredients</label>
            <button class="adding_field_button btn waves-effect waves-light light green right" type="button">Add Field</button>
            <div>
            <textarea id="ingredients" name="ingredients[]" class="validate materialize-textarea" required></textarea>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="input_fields_wrap col s12">
            <label for="icon_prefix">Method</label>
            <button class="add_field_button btn waves-effect waves-light light green right" type="button">Add Field</button>
            <div>
            <textarea id="method" name="method[]" class="validate materialize-textarea" required></textarea>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <textarea id="tips" name="tips" class="validate materialize-textarea"></textarea>
            <label for="icon_prefix">Tips</label>
        </div>
        </div>
        <div class="row">
        <!-- Switch -->
        <div class="switch">
            <label>
            <input id="vegetarian" name="vegetarian" type="checkbox" />
            <span class="lever"></span>
            Vegetarian
            </label>
        </div>
        </div>
        <div class="row">
        <button class="btn waves-effect waves-light light green" type="submit" name="action">
            Add Recipe
            <i class="material-icons right">playlist_add</i>
        </button>
        </div>
    </form>
    </div>
</div>

{% endblock %}
