{% extends 'base.html' %}
{% block content %}
    <h1 class="center">Welcome to Cook with me</h1>

    <section id="intro">
        <div class="carousel">
            <a class="carousel-item" href="#"><img src="{{ url_for('static', filename='images/berry-tart.jpg') }}" alt="Berry tart"></a>
            <a class="carousel-item" href="#"><img src="{{ url_for('static', filename='images/egg_mango-chutney.jpg') }}" alt="Egg mango chutney flatbread"></a>
            <a class="carousel-item" href="#"><img src="{{ url_for('static', filename='images/noodle-soup.jpg') }}" alt="Noodle-soup"></a>
        </div>

        <h5 class="center">
            Always wanted to make your own cook book?<br>
            Or do you want to inspire your friends to try something new? Share this experience with them.<br>
            Or do you just want to share your recipes with the world get started now.
        </h5>
    </section>
    <hr>
    <section id="about">
        <div class="card">
            <h1 class="center">About</h1> 
            <a class="right" id="go_up" href="{{ url_for('get_home') }}">Go Up</a>
            <p>
                Hello, everyone, I am Cecilia Binck. The one How did this bright, happy energetic website. You can see this website as recipes library. So I am asking you to share with us your favourite dish or your grandmother's famous recipe, so this website will contain a lot of different amazing recipes
                Even though my parent taught me and my siblings to cook from a young age and the fact that I had the privilege to travel to different countries and test their food. I could not fill this website with different recipes. So I will not be the only one that will share some recipes on this website. 
                <br>
                <br>
                Not just because I want to know, but yes I definitely want to know. But to show all those people how say it is too difficult, it can not be done or it takes too long. That it is possible, easy and ready before you know it with some show-stoppers in-between.
                <br>
                <br>
                What makes this website so special you might ask. Well, first of all, no one is a master chef, you know the once from tv and those fancy restaurants. Second of all, there is no big production team here to make up these dishes. Lastly, we are just like you. So because of people like you, this place is as amazing as can be. 
                <br>
                <br>
                For all the people how would like to learn to cook or just learn one dish to impress someone, this is the place for you. So don't be afraid to try something out or do something different.

            </p>
        </div>
    </section>

{% endblock %}