{% extends 'base.html' %}
{% block content %}
    <h1 class="center">Welcome to Cook with me</h1>

    <section id="intro" class="container img-fluid">
        <div class="carousel">
            <a class="carousel-item img-fluid" href="#"><img src="static/egg_mango-chutney.jpg" alt="Egg and mango chutney"></a>
            <a class="carousel-item" href="#"><img src="static/egg_mango-chutney.jpg"></a>
            <a class="carousel-item" href="#"><img src="static/egg_mango-chutney.jpg"></a>
            
        </div>

        <h5 class="center">
            Always wanted to make your own cook book?<br>
            Or do you want to inspire your friends to try something new? Share this experience with them.<br>
            Or do you just want to share your recipes with the world get started now.
        </h5>
    </section>
    <hr>
    <section id="about" class="container">
        <h1 class="center">About Us</h1>
        <p>
            Growing up me and my siblings learned how to cook at an early age, starting with some basic dishes. So when I was older and going to school I always found it strange that most of my classmate could not cook or any prep work. When I would ask them about that they would say that there, mostly, mother cooked or they had not learned to cook and take out is way faster. Cooking is not that difficult. It can be fun, cheaper and sometimes faster than take out. If only I could help them figure that out.
        </p>
        <p>
            When I finished school I decided to travel instead of study on and starting to work like all my classmates, I still had so much time to work. While traveling I saw new cultures and new exiting foods and no idea how to make them. I made new friends from all over the world and I got to try some of there favorite dishes. I have asked how to make some of those dishes but I was not able to remember all of them and I did not have anywhere to write them down in a save place.
        </p>
        <p>
            So for all the people how would like to learn to cook or just learn one dish to impress someone,this is the place for you. what makes us so special you might ask. Well first of all no one is a master chef, you know the once from tv and those fancy restaurants. Second of all there is no big production team here to make up these dishes. Lastly we are just like you.
        </p>
        <p>
            I, Cecilia Binck might have come up with the idea but becasue of people like you, this place is as amazing as can be. So don't be afraid to try something out or do something different and yes share with us your favorite dish or your grandmothers famous recipe.
        </p>
        <p> 
            Not just because I want to know but yes I deffently want to. But to show all those people how say it is to difficult, it can not be done or it takes to long. That it is possible, easy and ready before you know it with some showstoppers inbetween
        </p>
    </section>

{% endblock %}