{% extends 'base.html' %} {% block content %}
<h1>Recipe</h1>

{% for recipe in recipes %}
    {{recipe.recipe_name}} {{recipe.recipe_description}} {{recipe.recipe_image}}
    {{recipe.cookbook_name}}
    {{recipe.prep_time}} {{recipe.cook_time}} {{recipe.total_time}}
    {{recipe.ingredients}}
    {{recipe.method}}
    {{recipe.tips}}
    {{recipe.category_name}} {{recipe.difficulty_level}} 
 {% endfor %} 

 
    <ul class="tabs">
      <li class="tab col s3"><a href="#recipe_description">Recipe Description</a></li>
      <li class="tab col s3"><a href="#time">Time</a></li>
      <li class="tab col s3">
        <a class="active" href="#ingredients">Ingredients</a>
      </li>
      <li class="tab col s3 disabled"><a href="#method">Method</a></li>
      <li class="tab col s3"><a href="#tips">Tips</a></li>
    </ul>


  <div class="container" id="recipe_description">
    
  </div>
  <div class="container" id="time">
    
  </div>
  <div class="container" id="ingredients">
   
  </div>
  <div class="container" id="method">
   
  </div>
  <div class="container" id="Tips">
    
  </div>

  
  {% endblock %}
