{% extends 'base.html' %} {% block content %}
<h1 class="center-align">Recipes</h1>
<div id="recipes" class="row">
	 {% for recipe in recipes %}
     <!-- front of the card -->
		<div class="card col s12 m3">
			<div class="card-image waves-effect waves-block waves-light"><img class="activator" src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}"> </div>
			<div class="card-content"><h5 class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i>{{recipe.recipe_name}}</h5>
                <p class="activator">{{recipe.category_name}}</p>
				<p class="activator">{{recipe.cookbook_name}}</p>
                
			</div>
            <!-- back of the card -->
			<div class="card-reveal">
            <div class="row col s12"><h5 class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{recipe.recipe_name}}</h5>
            </div>
				<div class="row col s12 card-middle">
					<div class="col s4"> <i class="material-icons prefix">query_builder</i>
						<p>{{recipe.prep_time}}</p>
						<p>Prep</p>
					</div>
					<div class="col s4"> <i class="material-icons prefix">hourglass_empty</i>
						<p>{{recipe.cook_time}}</p>
						<p>Cook</p>
					</div>
					<div class="col s4"> <i class="material-icons prefix">restaurant</i>
						<p>{{recipe.serves}}</p>
						<p>Serves</p>
					</div>
				</div>
                <div class="card-end col s12">
                    <p>{{recipe.recipe_description}}</p> <a href="{{url_for('get_open_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light open btn btn_small light-green">Open Recipe</a> 
                </div>
			</div>
		</div> {% endfor %}

</div> {% endblock %}