{% extends 'base.html' %} {% block content %}
<h1 class="center-align">Recipe</h1>

<div class="card">
<!-- orange top row -->
    <div class="row orange">
        <div class="col s12 m4 top-left">
            <p>{{recipe.recipe_name}}</p>
            <p>{{recipe.recipe_description}}</p>
            <p>{{recipe.cookbook_name}}</p>
        </div>
        <div class="col s12 m4">
	        <img class="card-img" src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}"> 
        </div>
        <div class="col s12 m4 center-align top-right">
            <p>Prep Time: {{recipe.prep_time}}</p>
            <p>Cook Time: {{recipe.cook_time}}</p>
            <p>Total Time: {{recipe.total_time}}</p>
            <p>Serves: {{recipe.serves}}</p>
        </div>
    </div>
    <div class="row">
    <!-- white middle rows -->
        <div class="col middle-left s12 m6">
        <p>Ingredients</p>
        <p id="ingredient" class="white-space: pre-wrap">{{recipe.ingredients}}</p>
        </div>
        <div class="col middle-right s12 m6">
        <p>Method</p>
        <p id="methods" class="white-space: pre-wrap">{{recipe.method}}</p>
        </div>
    </div>
    <div class="row">
        <div class="bottom col s12">
        <p>Vegetarian:  {{recipe.vegetarian}}</p>
        <p>Tips: {{recipe.tips}}</p>
        </div>
    </div>
    <div class="row orange">
    <!-- bottom orange row -->
        <div class="bottom col s12">
        <a href="{{ url_for('get_recipes') }}" class="go_back black-text">Go Back</a>
        </div>
    </div>
</div>

{% endblock %}